extends ../base/layout

block content
    .container
        if(!user)
            p 로그인이 필요합니다!
        else
            h1.display-4 #{electionDetail.summary.electionName} 투표
            hr
            br
            form.text-center(role='form', action=path, method="post")
                // ref: https://bootsnipp.com/snippets/rl468
                -val = 0
                .btn-group.btn-group-toggle(data-toggle='buttons'): ul
                    each candidate in electionDetail.candidateList
                        li.btn.btn-outline-danger(style='padding: 30px;margin: 15px;')
                            input(
                            type='radio',
                            name='candidate',
                            value=candidateList[val],
                            autocomplete="off"
                            )
                            #body
                                h3
                                    b #{val + 1}
                                    | #{": " + candidate.name}
                        -val = val+1
                .text-center
                    button.btn.btn-danger.btn-lg(
                    type='submit'
                    style='margin: 30px') 투표하기
block script
    script(src='/javascripts/vote.js')