extends ../base/layout
include ../election/electionListItem

block content
    .container
        if(!user)
            p 로그인이 필요합니다!
        else
            h1.display-5 #{user.username} 님의 정보
            hr(style='margin: 0px 0px 40px')
            h2 사용하고 계신 계정의 주소
            p.text-center #{user.etherAccount}
            hr(style='margin: 40px 40px 20px')
            h4 내가 참여한 선거 목록
            if(votingElections.length)
                .list-group
                    each election in votingElections
                        +voteItem(election)
            else
                p.text-center(style='color: gray') 아직 참여하신 선거가 없습니다.
            hr(style='margin: 40px 40px 20px')
            if(deployedElections.length)
                h4 주최 선거 목록
                .list-group
                    each election in deployedElections
                        +voteItem(election)

            -createBtnText= isAdmin ? "선거 개설" : "선거 개설 신청"
            -createBtnHref= isAdmin ? "/election/create" : "/election/request"
            a.btn.btn-primary.btn-lg(style='margin: 30px')(
            href=createBtnHref
            role="button"
            aria-pressed="true"
            ) #{createBtnText}
